*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto' sans-serif;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: #fff;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    font-size: 2rem;
    max-width: 50%;
}
img{
    width: 300px;
    max-width: 50%;
}
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2%;
}
input{
    width: 50%;
    padding: 1%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
}
label input{
    margin-left: 5%;
}
label{
    width: 50%;
    padding: 1%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px; 
}
select{
    margin-left: 5%;
    width: 50%;
    border-radius: 5px;
}
span.input-color{
    width: 50%;
    margin-left: 5%;
}
.form-container button {
    width: 15%;
    background-color: #4CAF50;
    color: #fff;
    padding: 1%;
    margin: 1%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.table-container{
    width: 100%;
    padding: 1%;
    border-top: 5px black solid;
}
.table-container th {
    background-color:grey;
    color: #fff;
    border: 1px solid black;
}
.table-container td {
    text-align: center;
    border: 1px black solid;
}
Td.delete-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete-button{
    background-color: red;
    color: #fff;
    padding: 2%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.table-container td:hover {background-color: #ddd;}
tr:nth-child(even) {background-color: #f2f2f2;}









